<!DOCTYPE html>
<html ng-app>
<head>
    <title></title>
    <meta charset="utf-8"/>
</head>
<body>
<ul ng-repeat="m in ['a','b','c']">
    <!-- ng-repeat  是用来循环数组的指令 -->
    <li>{{ m }}</li>
</ul>


<div ng-controller="listIfno">
    <!-- ng-repeat  是用来循环数组的指令 -->
<ul ng-repeat="text in info">
    <!-- text 在遍历info 数组，  info来之控制器的 listInfo 函数 -->
    <li>{{text}}</li>
</ul>
</div>

<hr />
<!-- bind 指令 -->
<div ng-controller="bindInfo">
    <label ng-bind="str"></label>
   <!-- 界面加载过程中需要 出现的数据  -->
</div>

<!-- 表单指令 -->
<form action="#" ng-controller="formInfo">
    <input type="text"  ng-change="changeInfo()"  ng-model="text" />
    <input type="text"  ng-model="scoinfo" />
    <a href="" ng-click="clickEvent()">login</a>
</form>


<hr />
<!--  表单的  change  事件（和HTML 的事件不要混合）   -->

<div ng-controller="changeVal">
    <input type="text" ng-model="info.inp" ng-change="chagnePri()"/>
    <input type="text" ng-model="info.price" ng-change="chagnePri()" />
    <label ng-bind="info.out" ></label>
</div>




<!-- hide  and  show -->

<div ng-show="true">show</div>
<div ng-hide="true">hide</div>


<script src="js/angular.min.js"></script>
<script src="js/command.js"></script>
<script type="text/javascript">

</script>
</body>
</html>
